@charset "UTF-8";

.container {
	width: 100%;
	height: 1000px;
	padding: 0px;
	margin: 0px;
}
#planCreate_nav {
	width: 15%;
	height: 1000px;
	float: left;
	text-align: center;
	padding:0px;
	margin:0 0 0 -8px;
}
#planCreate_nav>* {
	padding : 12px;
	margin:0px;
}

#planCreate_trip_title {
	height: 25px;
	background-color: #8FAADC;
	color: white;
	margin-top: 10px;
}

#planCreate_trip_list {
	background-color: #ddd;
	margin:8px;
}

#planCreate_trip_list ul{
	margin: 0px;
	padding: 0px;
	
}
#planCreate_trip_list li {
	margin: 5px;
	padding: 5px;
	list-style-type: none;
	background-color: #bbb;
}

#planCreate_save {
	height: 48px;
	width:100%;
	background-color: #8FAADC;
	color: white;
	border: none;
	margin:0px;
	font-size: 16px;
}
#planCreate_save:hover{
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
	background-color: #77B;
}








#planCreate_map {
	width: 69%;
	height: 1000px;
	float: left;
}
#planCreate_search_tab {
	width: 250px;
	height: 1000px;
	background-color: yellow;float: left;
}

#planCreate_search {
	width: 100%;
}






/* 카카오맵 관련 스타일 */
.map_wrap, .map_wrap * {
	margin:0;
	padding:0;
	font-size:12px;
}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{
	color:#000;
	text-decoration: none;
}
.map_wrap {
	position:relative;
	width:100%;
	height:500px;
}
#menu_wrap {
	
	bottom:0;
	width:15%;
	height: 1000px;
	margin:10px 0 30px 10px;
	padding:5px;
	overflow-y:auto;
	background:rgba(255, 255, 255, 0.7);
	z-index: 1;
	font-size:12px;
	border-radius: 10px;
}
.bg_white { background:#fff; }
#menu_wrap hr {
	display: block; 
	height: 1px;
	border: 0; 
	border-top: 2px solid #5F5F5F;
	margin:3px 0;
}
#menu_wrap .option{ text-align: center; }
#menu_wrap .option p { margin:10px 0; }  
#menu_wrap .option button { margin-left:5px; }

#menu_wrap li:hover {
	background-color: #F4F4F4;
}



#placesList { padding: 7px; margin-top: 0px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 60px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 0px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}

#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
