@charset "UTF-8";

body, ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

.userView_wrap {
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 150px;
}

.user_profile_wrap {
	display: flex;
	margin-bottom: 50px;
}

.user_profile_img {
	border-radius: 50%;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin-left: 20px;
	border: 1px solid gray;
}

.user_profile_img img {
	width: 200px;
}

.user_profile_info {
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.user_profile_info div:not(:last-child) {
	margin-bottom: 20px;
}

.id_btn_wrap {
	font-size: 1.7em;
}

.id_btn_wrap input {
	margin-left: 20px;
	color: #fff;
	border: none;
	background-color: #8FAADC;
	padding: 5px 15px;
	border-radius: 5px;
	vertical-align: top;
	cursor: pointer;
}

.post_follower_wrap ul {
	overflow: auto;
}

.post_follower_wrap li {
	float: left;
	margin-right: 30px;
}

.info_wrap {
	line-height: 23px;
}

.hot_post_wrap {
	overflow: auto;
	padding: 0px 30px;
	margin-bottom: 50px;
	display: flex;
}

.hot_post_title{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hot_post_card_wrap {
	float: left;
	width: 20%;
}

.hot_post_card_wrap:not(:last-child) {
	margin-right: 50px;
}

.place_list {
	height: 210px;
}

.place_list a {
	color: #000;
}

.place_list li {
	height: 40px;
	line-height: 40px;
}

.place_list li:first-child {
	background-color: #CAD4EB;
	padding-left: 10px;
	font-size: 19px;
	height: 35px;
	line-height: 35px;
}

.place_list li:not(:first-child) {
	padding-left: 15px;
	margin-left: 10px;
	border-left: 1px solid gray;
}

.btn_list {
	overflow: auto;
	margin-top: 10px;
	display: flex;
}

.btn_list li {
	float: left;
	margin-right: 10px;
	flex: 1;
	text-align: center;
}

.btn_list li span {
	vertical-align: bottom;
}

.all_post_wrap {
	padding: 0px 20px;
	overflow: auto;
	margin-top: 30px;
}

.post_card {
	width: 280px;
	height: 280px;
	overflow: hidden;
	border-radius: 10px;
	float: left;
	margin: 0px 20px 40px;
	position: static;
}

.post_card img {
	width: 280px;
}

.post_card_hover {
	color: #fff;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: -155px;
	display: none;
}