@charset "UTF-8";

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot);
	/* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
		url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
		url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

 ul, li {
 	margin: 0;
 	padding: 0;

	list-style-type: none;
	list-style-position: inside;
} 

span.id {
	margin-right: 5px;
}

span.info {
	font-size: 12px;
	color: #8e8e8e;
}

/* main */
main {
    width: 1300px;
    margin: 0 auto;
    margin-top: 95px;
    margin-bottom: 100px;
}

.feeds {
	width: 850px;
	margin-right: 34px;
	display: inline-block;
}

article{
	padding: 20px;
}

#region_theme_wrap{
	float: left;
	flex: 1;
}

#hashtag_wrap{
	text-align: right;
}

header div{
	color: gray;
}

header h2{
	margin: 0;
    padding: 5px 0px 10px;
    font-size: 35px;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 20px;
}

.main_content_wrap{
	text-align: center;	
}

.main-image{
	margin-bottom: 30px;
}

.main-image img {
	width: 100%;
}

.location{
	font-weight: bold;
    font-size: 20px;
}

.location_addr{
	margin-bottom: 20px;
	font-size: 15px;
}

.content{
    margin-bottom: 60px;
}

h3{
	border-top: 1px solid #cfcfcf;
	padding-top: 20px;
}

/* comment input */
.comment_submit_wrap{
    border: 1px solid #cfcfcf;
    height: 40px;
    border-radius: 3px;
	padding:0px 0px 0px 10px;
	width: 100%;
    margin-bottom: 10px;
}

.input_comment {
    border: none;
    height: 20px;
    border-radius: 3px;
    width: 90%;
}

 .input_comment:focus {
	outline: none;
} 

.input_comment::placeholder {
	color: #8e8e8e;
}

.submit_comment {
	color: #0095f6;
	background-color: #fff;
	border-style: none;
	height: 40px;
	width: 60px;
	padding: 4px;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.submit-comment:disabled {
	color: #B9DFFC;
}

.submit-comment:focus {
	outline: none;
}
/* comment output */
#replyList ul{
	padding: 0px 10px;
}

.edit-comment,
.del-comment{
	border: none;
    background: #fff;
    color: #cfcfcf;
    font-size: 13px;
    cursor: pointer;
}

.del-comment:hover,
.edit-comment:hover{
	text-decoration: underline;	
}

hr{ 
	color: #222222;
}

.edit_comment_wrap{
	border: 1px solid #cfcfcf;
    border-radius: 3px;
    height: 25px;
    padding-left: 5px;
    width: 100%;
    line-height: 23px;
}

.input-comment{
	border: none;
	width: 91%;
}

.edit_submit{
	color: gray;
    background: #fff;
    border-style: none;
    width: 60px;
    cursor: pointer;
}


/* main-right */
.main-right {
	width: 440px;
	display: inline-block;
	position: fixed;
	/* top: 94px; */
}

.myProfile {
	margin-top: 10px;
	margin-bottom: 25px;
	display: flex;
	align-items: center;
}

#user_img_wrap{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #DBDBDB;
    float: left;
    margin: 0;
}

#user_img_wrap img{
	width: 150px;
}

#user_id_info_wrap{
	display: flex;
    flex-direction: column;
    height: 150px;
    margin-left: 30px;
    width: 290px;
}

#user_id{
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 15px;
    margin-bottom: 20px;
}

.bottombtn{
	overflow: auto;
	display: flex;
	padding: 0px 40px;
	height: 50px;
    line-height: 50px;
}

.bottombtn div{
	float: left;
	flex: 1;
	text-align: center;
}

.bottombtn a{
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #D5D5D5;
}

.fix{
	display: flex;
	padding: 0px 50px;
}

.fix button{
	flex: 1;
    margin: 0px 10px;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
}

/*게시물 사진 모음*/
.section-story{
    overflow: auto;
    margin: 20px 0px 5px;
    padding: 0px 5px;
}

.section-story li{
	float: left;
	width: 210px;
	height: 210px;
	overflow: hidden;
	margin-right: 3px;
	margin-bottom: 3px;
	border-radius: 5px;
}

.section-story li div{
	line-height: 210px;
}

.section-story img{
	width: 210px;
	max-height: 210px;
	vertical-align: middle;	
}



/* article */
article {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #DBDBDB;
}

article {

	margin-bottom: 60px;
}

.profile-of-article {
	display: flex;
	align-items: center;
}

.img-profile {
	width: 32px;
	height: 32px;
	border: 1px solid #fafafa;
	border-radius: 100%;
}



.main-id {
	margin-left: 14px;
}

.icon-more {
	justify-self: end;
}

.icons-react {
	height: 40px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icon-react {
	width: 24px;
	height: 24px;
}

.icons-left {
	display: flex;
	align-items: center;
}

.icons-left .icon-react {
	margin-right: 12px;
}

span.at-tag {
	color: #00376B;
}

ul.comments {
	margin-top: 5px;
}

ul.comments li {
	height: 21px;
	display: flex;
	justify-content: space-between;
	color: #262626;
	font-size: 14px;
}






.sub-title {
	font-size: 14px;
	color: #8e8e8e;
	font-weight: 600;
}

.find-more {
	font-size: 12px;
	font-weight: 600;
	color: #262626;
}

.recommend-list li {
	display: flex;
	align-items: flex-start;
}

ul.story-list img.story {
	box-sizing: content-box;
	border: 2px solid #fff;
}

div.gradient-wrap {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
}

.btn-follow {
	padding-top: 7px;
	color: #0095f6;
	font-weight: 600;
	font-size: 12px;
}

button{
	background-color: #8FAADC;
	color:white;
	border: none;
} 

.midbtn{
    display: flex;
    padding: 0px 50px;
}

.midbtn button{
    flex: 1;
    margin: 0px 10px;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
}