@charset "UTF-8";
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot);
	/* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
		url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
		url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* 스타일 기본설정 (신수진) */
body, ul, li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.wrap a{
	text-decoration: #000;
	color: black;
}
/**************************************/

button{
	background-color: #fff;
	border: none;
}

.communityList_wrap{
	margin: 0 auto;
    width: 1200px;
    margin-bottom: 100px;
}


/* 제목 */
.communityList_wrap h1{
	text-align: center;
    margin: 0;
    padding: 0;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 60px;
}

#underline_img{
	text-align: center;
    margin-bottom: 40px;
}

#underline_img img{
	width: 240px;
}


/* 공지사항 */
.notice_wrap{
	margin-bottom: 10px;
}

.notice_wrap div{
	float: left;
}

/* 카테고리 *************************************/
.sort_wrap{
	overflow: auto;
	margin: 5px 5px 30px;
	color: gray;
}

.sort_wrap ul{
	overflow: auto;
	height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

.sort_wrap ul:first-child{
	border-top: 1px solid gainsboro;
}

.sort_wrap ul li{
	float: left;
	width: 8.3%;
}

.sort_wrap .category_list li:first-child{
	background-color: gainsboro;
}

.sort_wrap a{
	color: gray;
}

.select_cate_wrap{
	margin-top: 5px;
	overflow: wrap;
}

.select_cate_wrap div,
.select_cate_wrap span{
	font-size: 13px;
	background-color: #F3F3F3;	
}

.select_cate_wrap div{
	float: left;
	padding: 5px;
	margin-right: 5px;
}

/**********************************************/

/* 피드 */
.container_card_wrap{
	overflow: auto;
}

.hot_new_writeBtn_wrap{
	display: flex;
	 height: 30px;
	 margin-bottom: 10px;
}

.hot_new_wrap{
	flex: 1;
    line-height: 30px;
    padding-left: 10px;
}

.hot_new_wrap span{
	cursor: pointer;
}

.writeBtn_wrap{
	flex: 1;
	text-align: right;
	padding-right: 10px;
}

.writeBtn_wrap input{
	padding: 7px 15px;
    border: none;
    border-radius: 30px;
    background-color: #929292;
    color: white;
    cursor: pointer;
}

/* 리스트 글쓴이 */
.card_writer_wrap{
	overflow: auto;
    padding-bottom: 10px;
}

.user_img_wrap{
	width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

.card_writer_wrap img{
	width: 35px;
}

/*팔로우 글*/
.card_writer_wrap button{
	font-size: 16px;
	color: #59C3F0;
	cursor: pointer;
}

.card_writer_wrap p{
	margin: 0;
    font-size: 13px;
    color: gray;
    width: 180px;
    height: 14px;
    overflow: hidden;
}

.card_wrap{
	width: 22.5%;
    overflow: hidden;
    float: left;
    margin-top: 10px;
    padding: 0px 15px;
    margin-bottom: 15px;
}

.card_main_img_wrap{
    width: 100%;
    height: 270px;
    border-radius: 10px;
    vertical-align: middle;
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 270px;
    text-align: center;
}

.card_main_img_wrap img{
	width: 100%;
    vertical-align: middle;
    max-height: 270px;
}

.side_menu{
	display: flex;
    margin: 10px 5px;
}

.side_menu button{
	flex: 1;
	color: #5E5E5E;
}



.content_prev{
	height: 60px; 
	padding: 0px 5px; 
	color: #5E5E5E;
}


/* *************************top.css (김진영)******************/
@font-face {
	font-family: 'GangwonEdu_OTFBoldA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6, li {
	font-family: 'GangwonEdu_OTFBoldA';
}

body {
	margin: 0px;
	padding: 0px;
	background: #FFF;
	color: #444;
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
	overflow-X: hidden;
	overflow-Y: auto;
	padding: 0;
}

.app {
	text-align: center;
	width: 100%;
	height: 100px;
	color: black;
	transition: all 0.5s ease-in-out;
}

div {
	display: block;
}

.default-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header-div {
	width: 100%;
	height: 100%;
	display: flex;
	font-weight: 600;
	font-size: 20px;
}

.search {
	width: 5%;
}

.search-logo {
	width: 17px;
	height: 17px;
	padding-right: 10px;
	transition: all 0.5s ease-in-out;
}

.title {
	width: 60%;
	text-align: left;
	padding: 10px;
	margin-top: 10px;
}

.log-in {
	padding: 10px;
	width: 20%;
}

.option {
	width: 100%;
	font-weight: 600;
	font-size: 20px;
	height: 80px;
	overflow: hidden;
	transition: height 0.6s;
	background: linear-gradient(none 70px, rgba(0, 0, 0, 0.5) 50px,
		rgba(0, 0, 0, 0.5));
}

.opacity_text_div {
	transition: all 0.5s ease-in-out;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 0px;
	padding-top: 200px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
	opacity: 0;
}

.big-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nav-child {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: right;
	justify-content: right;
	flex-wrap: wrap;
	list-style-type: none;
	margin-right: 50px;
}

.option li {
	margin: 0 10px;
}

.option a {
	padding: 15px;
	display: block;
	text-decoration: none;
}

.nav-child-li>a:hover {
	opacity: 0.5;
	transition: all 0.5s ease-in-out;
}

.nav-child-li {
	width: auto;
	font-size: medium;
}

.nav-child-li-2 {
	width: auto;
	font-size: medium;
}

.submenu {
	transition: all 0.5s ease-in-out;
}

.target {
	position: absolute;
	border-bottom: 4px solid transparent;
	pointer-events: none;
}

.option a, .target {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.header_menu {
	z-index: 1000;
	background-color: rgb(27, 24, 26);
	margin: 0;
	padding: 0;
	text-align: center;
}

a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: black;
	transition: all 0.5s ease-in-out;
}

.exit-logo {
	position: relative;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	z-index: 4;
	transition: all 0.5s ease-in-out;
}

.logindiv {
	background: white;
	width: 500px;
	height: 100%;
	top: 0;
	bottom: 0;
	right: -500px;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 2;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}

.form-title {
	width: 100%;
	max-width: none;
	margin: 1.875rem auto;
}

.login-info {
	margin-left: 15px;
	display: inline-block;
	color: black;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.2px;
	line-height: 1;
	text-transform: uppercase;
}

.form-password {
	margin: 2rem 0;
	padding: 1rem;
	background: white;
}

.form-password-section {
	position: relative;
	color: black;
}

.form-password-section-input {
	letter-spacing: normal;
	height: 3rem;
	width: 100%;
	padding: 0 1rem;
	border: 1px solid #eae8e4;
	color: black;
	font-size: 1rem;
	font-weight: 500;
	background: white;
	background-clip: padding-box;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	text-align: left;
	font-style: normal;
	transition: border 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	line-height: 3rem;
}

.form-info {
	margin-left: 15px;
	display: inline-block;
	color: #19110b;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.2px;
	line-height: 1;
	text-transform: uppercase;
}

.form-info-section {
	margin: 2rem 0;
	padding: 1rem;
	background: white;
}

.form-info-section-phone {
	box-sizing: border-box;
	display: block;
	position: relative;
	color: black;
}

.form-info-section-phone-input {
	width: 100%;
	height: 3rem;
	padding: 0 1rem;
	border: 1px solid #eae8e4;
	color: #19110b;
	font-size: 1rem;
	font-weight: 500;
	background: white;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	text-align: left;
	font-style: normal;
	transition: border 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) phone;
}

.form-checkout {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
}

.form-checkout2 { 
	width:100%;
	color:black;
	display: flex;
	width:100%;
	justify-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
}

.form-checkout-submit {
	margin-left: 1rem;
	margin-top: 0;
	display: block;
	width: 49%;
	height: 3rem;
	padding: 0.75rem;
	border: none;
	border-radius: 0;
	background-color: #19110b;
	color: white;
	text-transform: none;
	cursor: pointer;
	-webkit-appearance: none;
}

a#MOVE_TOP_BTN {
	position: fixed;
	right: 2%;
	bottom: 50px;
	display: none;
	z-index: 999;
}