<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.triptogether.dao.UserDAO">
	<insert id="userInsert">
		insert into userjoin(id, pwd, name, tel, email, gender, user_img, age)
		values(#{param1.id}, #{param1.pwd}, #{param1.name}, #{param1.tel},
		#{param1.email}, CAST(#{param1.gender} AS signed), #{param2},
		CAST(#{param1.age} AS signed))
	</insert>
	<select id="idCheck" resultType="int">
		select count(id) cnt from userjoin
		where id=#{param1}
	</select>
	<select id="userSelect" resultType="com.triptogether.vo.UserVO">
		select id, info, name, tel, email, gender, user_img, age from userjoin
		where id=#{param1}
	</select>
	<update id="userUpdate">
		update userjoin set info=#{param1.info}, name=#{param1.name}, tel=#{param1.tel}, 
		email=#{param1.email}, gender=#{param1.gender}, user_img=#{param2}, age=#{param1.age}
		where id=#{param1.id}
	</update>
	<select id="loginCheck" resultType="com.triptogether.vo.UserVO">
		select id, name, user_img from userjoin
		where id=#{id} and pwd=#{pwd}
	</select>
	<select id="userView" resultType="com.triptogether.vo.UserVO">
		select id, name, tel, info, user_img from userjoin
		where id=#{param2}
	</select>
</mapper>